.current-conditions-container {
    display: flex;
    justify-content: center;
}

.current-wind {
    margin-left: 175px;
}

.current-wind span {
    height: 50px;
}

.hour {
    margin-right: 5px;
}





.weather-icon {
    height: 4em;
}