

.surf-info-container {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.surf-height {
    margin-left: 50px;
}

.surf-height, .swell-info, .tide-info {
    text-align: center;
}

.surf-height, .swell-info {
    margin-right: 55px;
}

.current-conditions, .current-temp, .current-wind {
    text-align: center;
}

.current-hi-lo {
    margin-top: -30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.daily-current, .daily-high-tide {
    margin-right: 25px;
}


.daily-low-tide, .daily-high-tide {
    margin-top: -10px;
}

.daily-current {
    margin-top: -50px;
}

.daily-current p, .daily-low-tide p, .daily-high-tide p {
    margin-top: -15px;
}

