/*Styles moved inline to JSX*/

/* .wave-forecast {
    display: flex;
    justify-content: center;
} */

/* .weather-forecast {
    display: flex;
    justify-content: center;
    text-align: center;
} */

/* .daily-item {
    width: 100px;
    text-align: center;
    margin: 10px 110px;
} */

/* .max-wave-height {
    text-align: center;
    margin: 10px 100px;
} */


/* .icon-small {
    width: 40px;
} */