.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    height: auto;
}

.navbar-container {
    justify-content: center;
    display: flex;
    height: auto;
    background-color: lightgray;
}

.navbar-container button {
    width: 150px;
    height: 35px;
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.navbar-container button:hover {
    background-color: black;
    color: #fff;
    border: 1px solid #fff;
    transition: .5s;
}
